#!/usr/bin/env zsh

# Initialize hishtory - better shell history
# https://github.com/ddworken/hishtory

export HISHTORY_SERVER={{ .hishtory_server | quote }}

[[ -f ~/.hishtory/config.zsh ]] && source ~/.hishtory/config.zsh
