{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $fname := promptStringOnce . "fname" "Full Name" -}}
{{- $ghuser := promptStringOnce . "ghuser" "Github User" -}}

[data]
    email = {{ $email | quote }}
    fname = {{ $fname | quote }}
    ghuser = {{ $ghuser | quote }}

# By default, chezmoi diff will print the contents of scripts that would be run
# by chezmoi apply. To exclude scripts from the output of chezmoi diff, set
# diff.exclude in your configuration file, for example:
[diff]
    exclude = ["scripts"]

# chezmoi provides a hooks.read-source-state.pre hook that allows you to modify
# your system after chezmoi init has cloned your dotfile repo but before chezmoi
# has read the source state. This is the perfect time to install your password
# manager as you can assume that ~/.local/share/chezmoi is populated but has not
# yet been read.
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/home/.install-one-password.sh"
# vim:ft=toml:
