{{- if eq .chezmoi.os "darwin" -}}
# Homebrew configuration {{ "{{{" }}
# ----------------------

# If set, do not print any hints about changing Homebrew’s behaviour with
# environment variables.
export HOMEBREW_NO_ENV_HINTS=1


# Run brew update once every $HOMEBREW_AUTO_UPDATE_SECS seconds before some
# commands, e.g. brew install, brew upgrade or brew tap. Alternatively, disable
# auto-update entirely with $HOMEBREW_NO_AUTO_UPDATE.
#
# Default: 86400 (24 hours), 3600 (1 hour) if a developer command has been run
# or 300 (5 minutes) if $HOMEBREW_NO_INSTALL_FROM_API is set.
export HOMEBREW_AUTO_UPDATE_SECS=604800  # 1 week


# If set, do not send analytics data to Homebrew’s servers.
# {{ "}}}" }}
{{ end -}}