{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

if ! command -v apt > /dev/null 2>&1; then
    echo "APT is not installed" >&2
    exit 1
fi

echo "Installing packages with APT"
sudo apt update
sudo apt install --no-upgrade -y \
{{- /* Basic programs that are used in dotfiles functions */}}
    bash \
    fzf \
    bat \
    ripgrep \
    fd-find \
    tmux \
    vim \
    starship \
    bash-completion \
    jq \
    git \
    tig \
    curl \
    wget \
    rsync \
    tree \
    git-delta \
    ;

{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

echo "Installing packages with Homebrew"
brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{- /* Basic programs that are used in dotfiles functions */}}
brew "bash"
brew "fzf"
brew "bat"
brew "ripgrep"
brew "fd"
brew "tmux"
cask "macvim-app"
brew "starship"
brew "bash-completion@2"
brew "jq"
brew "git"
brew "tig"
brew "curl"
brew "wget"
brew "rsync"
brew "tree"
brew "git-delta"
EOF
{{ end -}}
