{{- if not (or .is_linux .is_macos) -}}
{{-     warnf "Unsupported OS: %s" .chezmoi.os -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" . }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::die "Unsupported OS: {{ .chezmoi.os }}"
{{- end -}}