{{- $package_names := splitList " " (includeTemplate "resolve_packages.tmpl" (dict "list" .packages "dot" .)) -}}
{{- includeTemplate "install_packages.sh.tmpl" (dict
    "title" "install packages"
    "package_names" $package_names
    "softwarePackages" .softwarePackages
    "chezmoi" .chezmoi
    "is_macos" .is_macos
    "is_linux" .is_linux
) -}}
