{{- if hasKey . "install_tools" -}}
{{-   $tool_names := splitList " " (includeTemplate "resolve_packages.tmpl" (dict "list" .install_tools "dot" .)) -}}
{{-   includeTemplate "install_packages.sh.tmpl" (dict
        "title" "install tools"
        "package_names" $tool_names
        "softwarePackages" .softwarePackages
        "chezmoi" .chezmoi
        "is_macos" .is_macos
        "is_linux" .is_linux
     ) -}}
{{- end -}}
