{{- $dirs := .directories.all -}}
{{- if hasKey .directories .chezmoi.os -}}
{{-     $dirs = concat $dirs (get .directories .chezmoi.os) -}}
{{- end -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" . }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dirs_created=0
dot::chezmoi_script_start "create directories at home"

#{{ range $dir := $dirs }}
#{{- $path := (joinPath $.chezmoi.homeDir $dir) }}
#{{  if not (stat $path) }}
dot::step::start "create directory: {{ $path }}"
mkdir -p {{ $path | quote }} || dot::step::fatal
dot::step::done
dirs_created=$((dirs_created + 1))
#{{ end }}
#{{ end }}
if [[ $dirs_created -eq 0 ]]; then
    dot::chezmoi_script_skipped "home directories already existed"
fi
dot::success "created $dirs_created directories at home"