{{ if .is_macos -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install Homebrew"

if dot::has_command brew; then
    dot::chezmoi_script_skipped "Homebrew is already installed"
fi

dot::step::start "install Xcode Command Line Tools"
if xcode-select -p &> /dev/null
then
    dot::step::skipped "already installed"
else
    # install Xcode Command Line Tools
    # https://github.com/timsutton/osx-vm-templates/blob/ce8df8a7468faa7c5312444ece1b977c1b2f77a4/scripts/xcode-cli-tools.sh
    FLAG_FILE="/tmp/.com.apple.dt.CommandLineTools.installondemand.in-progress"
    touch "$FLAG_FILE"
    PROD=$(softwareupdate -l | grep "\*.*Command Line" | tail -n 1 | sed 's/^[^C]* //')
    [[ -z $PROD ]] && dot::step::fatal "no version found"
    dot::log "installing $PROD"
    softwareupdate -i "$PROD" -v || dot::step::fatal
    rm "$FLAG_FILE"
fi

dot::step::start "install homebrew"
NONINTERACTIVE=1 /bin/bash -c "$(
    curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
    )" || dot::step::fatal
dot::step::done

{{ end -}}