{{- $os_packages := get .packages .chezmoi.os -}}
{{- $package_names := $os_packages.all -}}
{{- if and .is_interactive (hasKey $os_packages "interactive") -}}
{{-     $package_names = concat $package_names $os_packages.interactive -}}
{{- end -}}
#!/usr/bin/env bash

# {{- template "dotfiles_bashlib.sh" . }}
# Help shellcheck identify the template code
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

{{ if .is_linux -}}

dot::chezmoi_script_start "install packages with APT"

if ! command -v apt > /dev/null 2>&1; then
    dot::die "APT is not installed"
fi

dot::step::start "update package sources"
sudo apt update || dot::step::fatal
dot::step::done

dot::step::start "install packages"
sudo apt install --no-upgrade -y \
{{- range $package_name := $package_names -}}
{{-     $package := get $.softwarePackages $package_name -}}
{{-     if hasKey $package "apt" -}}
{{-         $package.apt }} \
{{     end -}}
{{- end }} \
    || dot::step::fatal
dot::step::done

{{ else if .is_macos -}}
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

dot::chezmoi_script_start "install packages with Homebrew"

dot::step::start "ensure Homebrew is installed"
if ! dot::has_command brew; then
    dot::step::fatal "NOT installed"
fi
dot::step::done

dot::step::start "install formulae and casks"
brew bundle --no-upgrade --file=/dev/stdin <<EOF || dot::step::fatal
{{- range $package_name := $package_names -}}
{{-     $package := get $.softwarePackages $package_name -}}
{{-     if hasKey $package "brew" }}
brew {{ $package.brew | quote }}
{{-     else if hasKey $package "cask" }}
cask {{ $package.cask | quote }}
{{-     end -}}
{{- end }}
EOF
dot::step::done
{{ end -}}
