{{- if .is_interactive -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" . }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install VSCode extensions"

if ! dot::has_command code; then
    dot::chezmoi_script_skipped "code command not found"
    exit 0
fi

declare -A installed_extensions
while IFS= read -r ext; do
    installed_extensions["$ext"]=1
done < <(code --list-extensions)

installed_count=0
skipped_count=0

vscode::install_extension() {
    local id="$1"
    local name="$2"
    if [[ -n "${installed_extensions[$id]}" ]]; then
        (( skipped_count++ ))
        return
    fi
    dot::step::start "install $name ($id)"
    code --install-extension "$id" > /dev/null
    dot::step::done
    (( installed_count++ ))
}

{{ range .vscode_extensions -}}
# {{ .name }}: {{ .description }}
vscode::install_extension {{ .id | quote }} {{ .name | quote }}
{{ end -}}

if [[ $installed_count -eq 0 ]]; then
    dot::chezmoi_script_skipped "all $skipped_count extensions already installed"
fi

{{- end -}}
