{{ if .is_linux -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install packages with APT"

if ! command -v apt > /dev/null 2>&1; then
    dot::die "APT is not installed"
fi

dot::step::start "update package sources"
sudo apt update || dot::step::fatal
dot::step::done

dot::step::start "install packages"
sudo apt install --no-upgrade -y \
{{ range .packages.linux.apt -}}
    {{ . | quote }} \
{{ end }}
    || dot::step::fatal
dot::step::done

{{ else if .is_macos -}}
#!/usr/bin/env bash

# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

# {{ template "dotfiles_bashlib.sh" }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install packages with Homebrew"

dot::step::start "ensure Homebrew is installed"
if ! dot::has_command brew; then
    dot::step::fatal "NOT installed"
fi
dot::step::done

dot::step::start "install formulae and casks"
brew bundle --no-upgrade --file=/dev/stdin <<EOF || dot::step::fatal
{{ range .packages.macos.formulae -}}
brew {{ . | quote }}
{{ end }}
{{ range .packages.macos.casks -}}
cask {{ . | quote }}
{{ end }}
{{ if .is_interactive -}}
{{ range .packages.macos.interactive_casks -}}
cask {{ . | quote }}
{{ end }}
{{- end }}
EOF
dot::step::done
{{ end -}}
