{{ if .is_linux -}}
#!/usr/bin/env bash

# {{ template "dotfiles_bashlib.sh" }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install packages with APT"

if ! command -v apt > /dev/null 2>&1; then
    dot::die "APT is not installed"
fi

dot::step::start "update package sources"
sudo apt update || dot::step::fatal
dot::step::done

dot::step::start "install packages"
sudo apt install --no-upgrade -y \
{{- /* Basic programs that are used in dotfiles functions */}}
    bash \
    fzf \
    bat \
    ripgrep \
    fd-find \
    tmux \
    vim \
    starship \
    bash-completion \
    jq \
    git \
    tig \
    curl \
    wget \
    rsync \
    tree \
    git-delta \
    || dot::step::fatal
dot::step::done

{{ else if .is_macos -}}
#!/usr/bin/env bash

# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

# {{ template "dotfiles_bashlib.sh" }}
# Help shellcheck identify the above include
true || source ../.chezmoitemplates/dotfiles_bashlib.sh

dot::chezmoi_script_start "install packages with Homebrew"

dot::step::start "ensure Homebrew is installed"
if ! dot::has_command brew; then
    dot::step::fatal "NOT installed"
fi
dot::step::done

dot::step::start "install formulae and casks"
brew bundle --no-upgrade --file=/dev/stdin <<EOF || dot::step::fatal
{{- /* Basic programs that are used in dotfiles functions */}}
brew "bash"
brew "fzf"
brew "bat"
brew "ripgrep"
brew "fd"
brew "tmux"
cask "macvim-app"
brew "starship"
brew "bash-completion@2"
brew "jq"
brew "git"
brew "tig"
brew "curl"
brew "wget"
brew "rsync"
brew "tree"
brew "git-delta"
brew "uv"
{{ if .is_interactive -}}
cask "jordanbaird-ice"
{{- end }}
EOF
dot::step::done
{{ end -}}
