{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

echo "Configuring iTerm2 Settings saving"

# Specify the preferences directory
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm2/settings"

# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
{{- end -}}
